@charset "UTF-8";

@font-face {
    font-family: "old-english";
    src: url(font/Old\ English\ Five.ttf);
}

@font-face {
    font-family: "olga";
    src: url(font/Olga.ttf);
}

* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;

}

h1#main {
    font-family: "olga", Arial, Helvetica, sans-serif;
    font-size: 3.0em;
    padding: 35px;
}

h1 {
    font-family: "olga", Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    padding: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 20px;
}

nav {
    background-color: #000000;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

nav a:hover {
    background-color: #8726a5;
    border-radius: 5px;
    transition: 0.4s;
}

main {
    max-width: 1280px;
    margin: auto;
}


section#angell {
    background-image: url(image/angell-wind7.png);
}

section.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

section.image > p {
    color: #ffffff;
    text-shadow: 3px 0px 7px #000000, -3px 0px 7px #000000, 0px 3px 7px #000000, 0px -3px 7px #000000;
    text-align: center;
    font-size: 3.0em;
    padding: 200px 20px;
}

div.box {
    background-color: #00000063;
    min-width: 240px;
    height: 150px;
    line-height: 150px;
    border: solid 2px black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #0000005b;
}

div.scroll {
    display: flex;
    background-position: center center;
    background-size: cover;
    background-color: #8726a5;
    max-height: 170px;
    overflow-x: auto;
}

div#s01 {
    background-image: url(image/softwares/site-01.png);
}

div#s02 {
    background-image: url(image/softwares/site-02.png);
}

div#s03 {
    background-image: url(image/softwares/site-03.png);
}

div#s04 {
    background-image: url(image/softwares/site-04.png);
}

div#sft-01 {
    background-image: url(image/softwares/sft-01.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div#sft-02 {
    background-image: url(image/softwares/sft-02.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

div#sft-03 {
    background-image: url(image/softwares/sft-03.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

p#citation {
    color: #ffffff;
    text-shadow: 3px 0px 7px #000000, -3px 0px 7px #000000, 0px 3px 7px #000000, 0px -3px 7px #000000;
    text-align: center;
    font-size: 1.0em;
    padding: 0px 20px;
}

footer {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding: 20px;
}