@charset "UTF-8";


section#angell {
    background-image: url(../image/others/angell-wind10.jpg);
}

h1#main {
    text-align: left;
    font-family: "olga", Arial, Helvetica, sans-serif;
    font-size: 3.0em;
    padding: 35px;
}



/* Menu*/

span#burguer {
    text-align: center;
    background-image: radial-gradient(var(--colour03), var(--colour02));
    color: var(--colour01);
    cursor: pointer;
    display: none;
    padding: 7px;
}

menu#items {background-color: var(--colour02);
    display: block;
    text-align: left;
}

menu#items li {
    background-color: var(--colour02);
    border: 0px;
    border-radius: 7px;
    color: var(--colour01);
    display: inline-block;
    padding: 10px;
    margin: 7px;
}

menu#items a {
    font-weight: bolder;
    color: var(--colour02);
    text-decoration: none;
}

menu#items li:hover {
    color: var(--colour01);
    background-color: var(--colour03);
    transition: 0.3s;
}

/*------------------------------------------------*/